.navbar{
    background: #212529;
    color: #FFFFFF;
    font-family: 'Lexend Zetta', sans-serif;
}
.container-fluid{
    width: 100vw;
    height: 100vh;
    padding-top: 150px;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.row{
    width: 100%;
    height: 100%;
}
div.card{
    border: none;
    font-weight: bold;
    background-color: transparent;
    color: #FFFFFF;
}
.text_card{
    /* background: linear-gradient(rgba(0.1, 0.2, 0, 0.3), rgba(0.1, 0.2, 0, 0.3)); */
}
div .class-body .text-center{
    font-weight: bold;
    padding-top: 20px;
    /* background-color: none; */
}
.img_card{
    width: 40vw;
    height: 80vh;
}
.text_card{
    width: 100%;
    height: 100%;
}
.class-body{
    height: 100%;
    width: 100%;
    /* padding: 15px; */
}
.card-title{
    font-weight: bolder;
    font-family: 'Lexend Zetta', sans-serif;
}
.img-frame{
    background:transparent;
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
}
p{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lexend Zetta', sans-serif;
}
.col-10{
    color: #FFFFFF;
    font-weight: bold;
    height: 40%;
}
.col-10 .col{
    text-align: center;
}
.col a img{
    height: 40%;
    width: 60%;
}
.portf_text a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
.portf_text a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.portfText{
    color: hsl(0, 0%, 100%);
}
@media(max-width: 768px){
    #index .row, #porfolio .row{
        display: flex;
        flex-direction: column;
    }
    .img-frame{
        margin-left: 2px
    }
    div.col-8.port_div{
        max-width: 78.666667%;
        margin-left: 33px;
    }
    .port_d{
        display: flex;
        flex-direction: column;
        margin-left: 18px;
    }
    .col a img{
        height: 38%;
        width: 32%;
    }
    div.col-8.align-self-start{
        max-width: 93.666667%;
    }
    div .class-body .text-center{
        padding-top: 10px;
    }
}